    body {
        background: #fff;
        font-family: arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
        min-width: 400px;
    }
    
    .top-container {
        height: 60px;
        width: inherit;
        text-align: right;
        padding-top: 18px;
        margin-right: 20px;
        flex-shrink: 0;
        vertical-align: middle;
        box-sizing: border-box;
    }
    
    .mn_link {
        font: 13px Roboto, RobotoDraft, Arial, sans-serif;
        color: #222;
        text-decoration: none;
        margin-top: 40px;
        margin-right: 20px;
    }
    
    .mn_link:hover {
        text-decoration: underline;
    }
    
    .sign-in-but{
        font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
        letter-spacing: .25px;
        line-height: 16px;
        margin-left: 10px;
        min-width: 96px;
        padding: 9px 23px;
        text-align: center;
        vertical-align: middle;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #1a73e8;
        border: 1px solid transparent;
        margin-left: 8px;    
        padding: 9px 15px;
        min-width: 80px;
        color: #fff;
        cursor: pointer;
    }

    .sign-in-but:hover {
        background: #317fe6;
        box-shadow: 0 1px 3px rgba(90, 137, 197, 0.28);
    }

    .image-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 290px;
        min-height: 92px;
        height: calc(100% - 560px);
        flex-shrink: 0;
        box-sizing: border-box;
    }
    
    #image-padding {
        padding-top: 190px; 
        max-height: 92px; 
        height: 100%; 
        margin-top: auto;
    }
    
    .main-container {
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .search-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 25px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        height: auto;
        max-height: 160px;
        align-items: center;
        box-sizing: border-box;
    }
    
    .button-container {
        padding-top: 18px;
        padding-bottom: 11px;
    }
    
    #form {
        height: auto;
    }
    
    #logo {
        width:auto;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        object-position: center bottom;
    }
    
    .search-border {
        display: flex;
        height: 44px;
        border: 1px solid;
        border-color: #dfe1e5;
        border-radius: 24px;
        padding-left: 16px;
        padding-right: 8px;
        margin-top: 6px;
        box-sizing: border-box;
    }
    
    .search-border:hover, .search-border:active, .search-border:focus{
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
        border-color: rgba(223, 225, 229, 0);
    }

    .lens-container{
        padding-right: 13px;
        align-items: center;
    }
    
    .search-icon {
        color: #9aa0a6;
        fill: currentColor;
        line-height: 24px;
        height: 20px;
        width: 20px;
        margin-top: 12px;
        object-fit: contain;
    }

    .search-box {
        width:490px;
        display:flex;
        flex-direction: row;
    }    

    #search-text {
        flex:1;
        display: flex;
        flex-wrap: wrap;
        border: none;
        padding: 0;
        outline: none;
        height: 34px;
        color: rgba(0, 0, 0, .87);
        font-size: 16px;
        word-wrap: break-word;
        object-fit: contain;
        object-position: center center;
        margin-top:4px;
        cursor: text;
    }

    .clear-search {
        cursor: pointer;
        align-items: center;
        display: none;
    }

    .search-clear-x {
        outline: none;
        display: inline-block;
        fill: currentColor;
        line-height: 24px;
        width: 24px;
        margin-right:12px;
        margin-top:6px;
        object-fit: contain;
        object-position: center;
    }

    .x-svg {
        color: #80868b;
    }

    .search-clear-separator {
        display:inline-block;
        border-left:1px solid #dfe1e5;
        cursor:pointer;
        line-height: 44px;
        height: 65%;
    }

    .microphone-container {
        width: 40px;
        line-height: 44px;
        cursor:pointer;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
    }

    .microphone{
        height: 24px;
        width: 24px;
        flex:1;
        margin-left: 8px;
        object-fit: contain;
        object-position: center;
    }

    .search-history {
        display: flex;
        width: 589px;
        z-index: 3;
        position:absolute;
        text-align:left;
        background: #fff;
        box-shadow: 0 4px 6px rgba(32,33,36,.28);
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0 0 24px 24px;
        padding-bottom: 4px;
        overflow: hidden;
        user-select: none;
    }

    .history-list {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        padding-bottom: 8px;
    }

    .history-item {
        display: flex;
        min-width:0;
        padding:0;
        margin:0;
        align-items: center;
        list-style-type: disc;
    }

    .history-line {
        flex:auto;
        display: flex;
        align-items: center;
        margin: 0 20px 0 14px;
    }

    .history-line-text {
        min-width: 0;
        padding: 6px 0;
        color:#52188c;
        font-size: 16px;
        word-break: break-word;
        padding-right: 8px;
    }

    .delete-line{
        font: 13px arial,sans-serif;
        color:#80868b;
        align-self: stretch;
        cursor: pointer;
        text-align: center;
        margin-top: 8px;
    }

    .history-clock-image {
        display: flex;
        align-items: center;
        margin: 0 13px 0 1px;
        background: url(media/clock.webp) no-repeat 0 -21px;
        background-size: 20px;
        min-height: 20px;
        min-width: 20px;
        height:20px;
        width:20px;
    }
    
    #search-button , #lucky-button{
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial,sans-serif;
        font-size: 14px;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
        cursor: pointer;
        user-select: none;
    }

    #search-button:hover , #lucky-button:hover {
        border: 1px solid #dbdbdb; 
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(32, 33, 36, .28);
    }

    .footer-container {
        display:block;
        background:#f2f2f2;
        flex-shrink: 0;
        box-sizing: border-box;
        position:fixed;
        bottom: 0;
        width:100%
    }

    .country-div {
        padding: 15px 30px;
        border-bottom: 1px solid #dadce0;
        font-size: 15px;
        color: rgba(0,0,0,.54);
    }

    .about-container {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding:0 20px;
    }

    .first-about, .second-about{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
    }

    .footer-link {
        display: block;
        padding:15px;
        white-space: nowrap;
        text-decoration: none;
        color:#70757a;
        cursor:pointer;
        font-size: 14px;
    }

    .footer-link:hover {
        text-decoration: underline;
    }

    @media only screen and (min-width:1200px) {
        .about-container {
            justify-content: space-between;
        }
    }

    @media only screen and (max-width:600px) {
        .search-container{
            padding-right: 1px;
            padding-left: 1px;
        }
        .search-border{
            width:95vw;
            min-width: 325px;
        }
        #search-text {
            width: auto;
        }
    }

    @media only screen and (max-height:500px) {
        #image-padding {
            padding-top: 20vw;
            max-height:92px;
        }
    }
